services:
  mysql:
    image: mysql:8
    container_name: mysql_db
    environment:
      MYSQL_PASSWORD: "root123"
      MYSQL_DATABASE: course_db
    volumes:
      - mysql_data:/var/lib/mysql
    ports:
      - "3307:3306"
    networks:
      - app-network

  backend:
    build: ./backend
    container_name: backend_service
    restart: always
    ports:
      - "4000:3000"
    environment:
      DB_HOST: mysql
      DB_USER: root
      DB_PASSWORD: 
      DB_NAME: course_db
    depends_on:
      - mysql
    networks:
      - app-network

  frontend:
    build: ./frontend
    container_name: frontend_service
    ports:
      - "8080:80"
    depends_on:
      - backend
    networks:
      - app-network

volumes:
  mysql_data:

networks:
  app-network:
    driver: bridge
